@import url(../../Content/Css/Layout.css);
/********* GLOBALS *********/

*
{
  margin: 0;
  padding: 0;
}
body
{
  font-family: Constantia, "Lucida Fax" , "Palatino Linotype" ,serif;
  font-size: .9em;
}
a img, table
{
  border: 0;
}
a img
{
  vertical-align: middle;
}
button, select, textarea, input
{
  font: 100% serif;
}
table
{
  border-collapse: collapse;
}
caption, th, td
{
  text-align: left;
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6, p
{
  margin: .4em 0;
  font-family: Cambria, "Hoefler Text" , "Palatino Linotype" ,Palatino, "Trebuchet MS" ,serif;
}
h1
{
  width: 360px;
}

/* colors */
a
{
  color: #478db3;
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}


/********* LAYOUT *********/

body
{
  margin: 0;
  background-color: #fff;
}
#wrap
{
}
#header
{
  width: 1009px;
  margin: 0 auto;
  height: 150px;
  background: url(images/header.jpg) no-repeat center 0;
}
#page
{
  width: 1009px;
  margin: 0 auto;
  padding-bottom: 3px;
  background: #fff url(images/header.jpg) no-repeat center -150px;
}
#content
{
  float: right;
  width: 742px;
  padding: 15px 35px 15px 15px;
}
.secondary
{
  width: 170px;
  margin-bottom: 1px;
  padding-top: 100px;
}
#menu
{
  float: left;
}
#extras
{
  float: right;
}
#main
{
  width: 540px;
  float: left;
  padding: 20px 0 15px 0;
}
#footer
{
  width: 690px;
  margin: 0 auto;
  padding: 15px 15px 15px 200px;
  color: #666;
}
#footer .n2
{
  color: #333;
  float: right;
  margin-bottom: 10px;
  font-size: .8em;
}

/* top */
.siteHeader
{
  display: none;
}
.siteHeader a
{
  color: #478db3;
}
.siteLogo img
{
  float: right;
  padding: 20px;
}


/*box*/
.boxTitle, .secondary h4
{
  padding: 0 5px;
  color: #d0cfcb;
}
.secondary h4 a, .secondary h4 a:visited
{
  color: #d0cfcb;
}
#menu .box
{
  color: #d0cfcb;
}
#content .boxTitle, #content .secondary h4
{
  color: #414141;
}
.secondary .box
{
  background: transparent url(menu_bg.gif) no-repeat 50% 100%;
  _height: 1px;
  padding-bottom: 10px;
}
.secondary .box .inner
{
  padding: 10px 10px 0 10px;
  background: transparent url(menu_bg.gif) no-repeat 50% 0%;
}
#content .secondary .box
{
  background: transparent url(secondary_bg.gif) no-repeat 50% 100%;
}
#content .secondary .box .inner
{
  background: transparent url(secondary_bg.gif) no-repeat 50% 0%;
}
#main .box
{
  background: #d0cfcb url(main_bg.gif) no-repeat;
  padding-top: 10px;
}
#main .box .inner
{
  background: transparent url(main_bg.gif) no-repeat 0% 100%;
  padding: 0 10px 10px 10px;
}

/*secondary*/
.secondary .uc
{
  margin-bottom: 15px;
}

/*menu*/
.topMenu
{
  padding: 30px 0 0 30px;
  width: 200px;
}
.topMenu li
{
  display: inline;
}
.topMenu a
{
  color: #fff;
  margin-right: 10px;
}
.topMenu .current a, .topMenu .trail a
{
  font-weight: bold;
  color: #0096DB;
}

.languageMenu
{
  width: 150px;
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: 285px;
  text-align: right;
}
.languageMenu a
{
  opacity: .4;
}
.languageMenu .current
{
  cursor: default;
  opacity: 1;
}
.languageMenu a:hover
{
  opacity: 1;
}

.subMenu a
{
  display: block;
  padding: 2px 0;
  _height: 1px;
  color: #fff;
}
.subMenu ul
{
  margin: 0 0 5px 10px;
}
.subMenu .trail > a, .subMenu .current > a
{
  color: #0096DB;
}
.subMenu .current > a
{
  font-weight: bold;
}

/* lists */
.list .a0
{
  background: #f4f8ed;
}
.list, .list .a1
{
  background: #fff;
}
.list
{
  padding-bottom: 6px;
  background-position: 50% 100%;
}
.list .item
{
  padding: 5px;
}

/* path */
.path
{
  margin-bottom: 10px;
  width: 315px;
}
.path .current
{
  color: #414141;
}
.path a.current:hover
{
  cursor: default;
  text-decoration: none;
}

/* sitemap */
#main ul
{
  list-style: circle;
  margin-left: 20px;
}
#main ol
{
  margin-left: 20px;
}

/* content */
.introduction
{
  font-size: 1.1em;
  font-style: italic;
}

/* date */
.date
{
  font-size: small;
  color: #414141;
  display: block;
}

/* intro */
.intro
{
  font-style: italic;
  font-size: 1.2em;
}
.list .intro
{
  font-style: normal;
  font-size: 1em;
}

/*columns*/
.columns .left
{
  float: left;
  width: 245px;
}
.columns .right
{
  float: right;
  width: 245px;
}

.socialBookmarks a
{
  white-space: nowrap;
}

/* login */
.login .tb
{
  width: 130px;
}
.login .ff
{
  margin-bottom: 5px;
}
.register td
{
  padding: 0 5px 5px 0;
}

/* gallery */
.thumbnail
{
  opacity: .4;
}
.thumbnail:hover, .selected
{
  opacity: 1;
}
#thumbnails
{
  padding-bottom: 10px;
}
#thumbnails .text
{
  display: none;
}
.thumbnail
{
  margin-bottom: 10px;
  margin-right: 5px;
}

/* comments */
.commentList
{
  border-top: solid 1px #D0CFCB;
  margin-top: 10px;
}



/*
* Colors:
*  #ED1C24
*/
/*
h2.siteHeader
{
  color: #ED1C24;
}
*/

/* tables */
table.tablesorter
{
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th
{
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header
{
  background-image: url(images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td
{
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td
{
  background-color: #F0F0F6;
}
table.tablesorter thead tr .headerSortUp
{
  background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown
{
  background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
{
  background-color: #8dbdd8;
}
